{
  "comfyui_output_dir": "C:\\Installation\\ComfyUI\\output",
  "ftp": {
    "host": "ftpes://example.com:21",
    "user": "your_ftp_username",
    "password": "your_ftp_password",
    "passive": true,
    "remote_directory": "/wallpapers"
  },
  "api": {
    "url": "https://kazflow.com/wallpapers",
    "username": "uploader",
    "password": "your_api_password"
  }
}
